<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projects</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body class="flex justify-center items-center min-h-screen bg-white text-gray-800 flex-col">
    <!-- ส่วนหัวข้อเกี่ยวกับโปรเจค -->
    <h2 class="text-6xl font-bold text-gray-800 ml-20 mb-8 mt-32 self-start">
        My Projects
    </h2>
    <p class="text-xl text-gray-600 mb-8 self-start leading-relaxed ml-20 mr-20 indent-8">
        "This project marks our first steps in web design. We started by using Figma to create layouts and design the
        UX/UI,then brought them to life with HTML and CSS. An example is a travel guide website. It's also a personal
        project
        from some of the courses we've taken,showcasing specific skills such as UX/UI design, website design, and coding
        with HTML and CSS."
    </p>
    <!-- เส้นคั่น -->
    <hr class="border-t-2 border-fuchsia-600 w-[95%] mb-8 mx-auto" />

    <!-- กริดโปรเจค -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- โปรเจค 1 -->
        <div class="p-10 bg-pink-300 rounded-lg shadow-xl max-w-[700px] overflow-hidden text-center ml-4 mr-4">
            <img src="/src/components/projects/WebTravel.png" alt="ภาพโปรเจค"
                class="w-full h-auto max-h-48 rounded-lg mb-8 object-cover" />
            <p class="text-2xl text-white font-bold">Web Travel Korat</p>
            <p class="mt-4 text-white text-lg mb-5">This is a project to develop a website recommending tourist
                attractions in Korat Province.</p>
            <a href="https://github.com/66160136/hw2_bootstrap.git" target="_blank" class="text-blue-600">View on
                GitHub</a>
        </div>

        <!-- โปรเจค 2 -->
        <div class="p-10 bg-pink-300 rounded-lg shadow-xl max-w-[700px] overflow-hidden text-center ml-4 mr-4">
            <img src="/src/components/projects/WebTravel2.png" alt="ภาพโปรเจค"
                class="w-full h-auto max-h-48 rounded-lg mb-8 object-cover" />
            <p class="text-2xl text-white font-bold">Web Travel Phra Nakhon Sri Ayutthaya</p>
            <p class="mt-4 text-white text-lg mb-5">This is a project to develop a website recommending tourist
                attractions in Phra Nakhon Sri Ayutthaya Province.</p>
            <a href="https://github.com/66160156/hw-1_bootstrap.git" target="_blank" class="text-blue-600">View on
                GitHub</a>
        </div>

        <!-- โปรเจค 3 -->
        <div class="p-10 bg-pink-300 rounded-lg shadow-xl max-w-[700px] overflow-hidden text-center ml-4 mr-4">
            <img src="/src/components/projects/figma-flowershop.png" alt="ภาพโปรเจค"
                class="w-full h-auto max-h-48 rounded-lg mb-8 object-cover" />
            <p class="text-2xl text-white font-bold">Figma - Amor de Yam</p>
            <p class="mt-4 text-white text-lg mb-5">Create a web design about a flower shop.</p>
            <a href="https://www.figma.com/design/PiIvBhCTs9ncxj0SkIrqmF/Untitled?node-id=0-1&t=ZHYNgB4OdrdIR8wh-1" target="_blank" class="text-blue-600">View on
                figma</a>
        </div>

        <!-- โปรเจค 4    -->
        <div class="p-10 bg-pink-300 rounded-lg shadow-xl max-w-[700px] overflow-hidden text-center ml-4 mr-4">
            <img src="/src/components/projects/figma-novel pick.png" alt="ภาพโปรเจค"
                class="w-full h-auto max-h-48 rounded-lg mb-8 object-cover" />
            <p class="text-2xl text-white font-bold">Figma - Novel Pick</p>
            <p class="mt-4 text-white text-lg mb-5">Create a website design about fiction.</p>
            <a href="https://www.figma.com/design/mgoKMIXsLRv7UQkT7zyZjC/Project-(UI)?t=mqsDnnyo2Y8wnVzG-1" target="_blank" class="text-blue-600">View on
                figma</a>
        </div>
    </div>
</body>