<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hero</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <section
      class="container mx-auto flex flex-col-reverse md:flex-row items-center justify-center py-20 px-20 min-h-screen"
    >
      <div class="md:w-1/2 text-center mt-12 md:mt-0">
        <h1 class="text-4xl font-extrabold text-gray-800 mb-6">Choi San</h1>
        <h2 class="text-2xl font-bold text-gray-800 mb-6">IT Support</h2>
        <p class="text-lg text-gray-600 mb-10">
          "Experienced IT Support professional with strong skills in
          troubleshooting hardware, software, and network issues. Adept at
          providing user-friendly solutions and ensuring seamless system
          performance in fast-paced environments."
        </p>
        <div class="flex justify-center space-x-4">
          <a
            href="#"
            class="bg-fuchsia-500 text-white px-6 py-3 rounded-lg hover:bg-blue-700 font-medium"
          >
            Get Started
          </a>
          <a
            href="#"
            class="bg-gray-200 text-gray-700 px-6 py-3 rounded-lg hover:bg-gray-300 font-medium"
          >
            Contact
          </a>
        </div>
      </div>
      <div class="md:w-1/2 flex justify-center">
        <img
          src="/src/components/hero/san.jpg"
          alt=" "
          class="w-64 md:w-72 lg:w-80 rounded-lg shadow-lg mt-12 md:mt-0"
        />
      </div>
    </section>
  </body>
</html>
